# Skip Syncthing Files
.stfolder/
.stignore

# Python Binary Files
__pycache__/
*.py[cod]
*$py.class

# Skip Obsidian Config Files
**/.obsidian/*
!**/.obsidian/hotkeys.json

# Development Files
.vscode
venv
upload_list.txt
_posts
