img,
iframe {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border-radius: 4px;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer > div:has(> iframe) iframe {
	max-width: var(--iframe-max-width);
	width: inherit;
}
